:root{
    --border-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
}
img{
    transform: scale(0.8);
}
body{
    display:grid;
    grid-template-columns: max(18%, 80px) 1fr;
    grid-template-rows: max(9rem,80px) 1fr;
    grid-template-areas:
        "nav hdr"
        "nav main";
    margin: 0;
    
}
/*
span.sidebartext{
    overflow: hidden;
}*/

.title{
    font-size: 2rem;
    font-weight: 700;
}

.header{
    grid-area: hdr;
    background-color:#4f682f;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.search{
    display:grid;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;
    padding: 1rem;
}

form{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

form > input {
    flex: 1;
    height: 30%;
    max-width: 95%;
    border-radius: 1.2rem;
}
.search > img{
    align-self: center;
    cursor:pointer;
}
.actions{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.actions > div{
    flex: 1;
    max-width: 8rem;
    background-color: rgb(221, 255, 189);
    border-radius: 0.8rem;
    max-width: 40%;
    height:40%;
    justify-content: center;
    display:flex;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    transition: 0.2s;
}

.actions > div:hover{
    transform: scale(1.15);
}

.profile{
    box-sizing: border-box;
    padding:1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}

.profile > * {
    flex: 1;
    padding: 0;
}
.profile > .profile{
    max-width:4rem;

}
.profile > img.profile{
    width: 80px;
    min-height: 80px;
    max-height: 80px;
    border-radius: 40px;
    cursor:pointer;
}
.sidebar{
    grid-area: nav;
    background-color: rgb(221, 255, 189);
}

nav{
    display: grid;
    grid-template-rows: 0.6fr 9fr;
}

nav > div.logo{
    display:flex;
    padding: 20px;
    font-size: 1.35rem;
    font-weight: bold;
    align-items: center;
    overflow:hidden;
}

nav > div.gridbar > a{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    text-decoration: none;
    font-size: 1.05rem;
}

nav > div.gridbar{
    display:grid;
    grid-template-rows: repeat(4, 5%);
    left: 35px;
}

nav > div.gridbar > a:hover {
    text-decoration: underline;
    transform: scale(1.03);
    transition: 0.3s
}

nav > div.gridbar > a:active{
    transform: scale(1);
    transition: 0.1s;
}

nav > div.gridbar > a,a:visited{
    color:rgb(34, 34, 34);
}

main{
    grid-area: main;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 7fr 3fr;
    gap: 2rem;
    background-color:rgb(113, 179, 64);
    padding: 3rem;
    padding-top: 1.5rem;
}

.card-container{
    grid-column: 1;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-template-rows: 20px 1fr;
    gap: 12px;
    grid-auto-rows: 1fr;

}
.card-container > h3{
    grid-column: 1/-1;
    font-size: 1rem;
    margin: 8px;
}

.card-container > div{
    display: grid;
    grid-template-columns: 5% 1fr;
    -webkit-box-shadow: 6px 11px 16px 1px rgba(0,0,0,0.6); 
    box-shadow: 6px 11px 16px 1px rgba(0,0,0,0.6);
    background-color: #3C5A14;
    border-radius: var(--border-size);
    transition: 0.4s;
}

.card-container > div:hover{
    transform: scale(1.02);

}

.card-container > div > div:first-child{
    border-top-left-radius: var(--border-size);
    border-bottom-left-radius: var(--border-size);
    background-color: rgb(123, 200, 206);
}

.card-container > div > div:last-child{
    border-top-right-radius: var(--border-size);
    border-bottom-right-radius: var(--border-size);
    display:flex;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
}

.card-container > div > div:last-child > div{
    flex: 1;
    display: flex;
    align-items: center;
} 

.text{
    overflow-y: auto;
}
.toolbar{
    justify-content: center;
}
.placeholder{
    border-radius: 2rem;
    background-color: grey;
    width: 80%;
    max-width: 80%;
    height: 20%;
    flex: 1 1 0;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.tweets{
    grid-column: 2;
    background-color: #669D31;

}